.empty-cart,
.cart-items,
.clean-cart,
.cart-total-price {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.empty-cart img {
    max-width: 300px;
}

.empty-info {
    font-size: 22px;
}

.redirect-empty-cart button {
    padding: 8px 50px;
    border: none;
    background-color: #0053e2;
    color: #fff;
}


/* cart details  */

.cart-item-img img {
    max-width: 100px;
}

.decrease-quantity,
.increase-quantity {
    height: 25px;
    width: 25px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.item-quantity {
    height: 25px;
    width: 50px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.item-offer {
    color: green;
    font-size: 14px;
    font-weight: 600;
}

.item-price {
    font-size: 20px;
    font-weight: 600;
}

.Remove-btn button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
}

.item-sales p {
    font-size: 15px;
    color: rgb(114, 113, 113);
}

.clean-cart {
    background-color: #fff;
    border-radius: 3px;
}

.clean-cart button {
    border: none;
    background-color: #0053e2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.4s all ease;
}

.clean-cart button:hover {
    box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
        inset -8px -8px 16px 0 rgba(255, 255, 255, 0.4);

}

.item-title {
    color: black;
}

.cart-item-details a {
    text-decoration: none;
}

.cart-items {
    border-radius: 3px;
}



/* cart price  */


.cart-price-heading p {
    color: rgb(131, 128, 128);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.4px;
}