.productlist-items img {
    height: 200px !important;
    object-fit: contain;
}

.productlist-items {
    height: 100%;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}

/* .product-item-img { */
/* background-color: grey; */
/* } */

.discount-price {
    color: green;
    font-weight: 600;
    font-size: 18px;
}

.original-price {
    font-size: 14px;
    text-decoration: line-through;
    color: grey;
    line-height: 2;
    margin-left: 5px;
}

.product-item-title {
    font-size: 14px;
    color: rgb(55, 54, 54);
    font-weight: 500;
}

.best-seller {
    position: absolute;
    top: 2%;
    background-color: #3567bea2;
    color: #042a6a;
    left: 5%;
}

.add-to-cart {
    right: 10%;
    color: #0053e2;
}

.product-bedge p {
    background-color: rgb(167, 4, 4);
    color: #fff;
    display: inline-block;
    font-weight: 600;
}

.total-sales p {
    font-weight: 500;
    font-size: 15px;
    color: grey;
}

.delivery-time {
    font-size: 14px;
    line-height: 16px;
}

.read-more {
    padding: 10px;
    background-color: #0053e2;
    color: #fff;
    font-weight: 600;
}

.next-btn button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.productlist-main a {
    color: black;
    text-decoration: none;
}

.productlist-items {
    border: 1px solid rgba(128, 128, 128, 0.208);
}

/* .productlist-main:hover {
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);
} */

.filter-product-list {
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);

}

.showing-product-lists {
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.sorting-head {
    font-weight: 500;
}

.sort-by-list {
    font-size: 14px;
    cursor: pointer;
}

.product-list-heading {
    font-weight: 600;
}

.clear-price {
    color: #0053e2;
}

.filter-heading {
    font-size: 18px;
    font-weight: 500;
}

.price-starting,
.price-ending {
    border: 1px solid grey;
    padding: 3px 10px;
}

.customer-rating-heading p {
    font-size: 15px;
}

.faq-title {
    font-size: 18px;
    font-weight: 500;
}

.down-icon svg {
    font-size: 12px;
}


/* loader */

/* From Uiverse.io by Fernando-sv */
.loader {
    border: 4px solid #0053e2;
    border-left-color: transparent;
    border-radius: 50%;
}

.loader {
    border: 4px solid #0053e2;
    border-left-color: transparent;
    width: 36px;
    height: 36px;
}

.loader {
    border: 4px solid #0053e2;
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}








.loading-content {
    height: 300px;
    background: linear-gradient(90deg,
            rgba(204, 202, 202, 0.25) 25%,
            rgba(135, 134, 134, 0.292) 50%,
            rgba(204, 202, 202, 0.25) 75%);
    background-size: 200% 100%;
    background-repeat: repeat;
    animation: slideIn 2s linear infinite;
}

@keyframes slideIn {
    0% {
        background-position: 0% 0;
    }

    100% {
        background-position: 100% 0;
    }
}



@media (max-width:768px) {
    .loading-content {
        height: 200px;
    }
}