.navbar {
    background-color: #0053e2;
}

.logo img {
    height: 66px;
    width: 70px;
    cursor: pointer;
}



.nav-input {
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-input input {
    width: 90%;
    border-radius: 30px;
    border: none;
    outline: none;
}

.nav-input input::placeholder {
    color: #0053e2;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.nav-input button {
    border: none;
    background-color: #0442ac;
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.focused {
    border: 2px solid black;
}

.user-location,
.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deliver-address,
.update-location {
    line-height: 16px;
}

.update-location {
    font-weight: 500;
    font-size: 14px;
}

.hamburger {
    cursor: pointer;
}

.choose-language {
    background-color: rgb(32, 54, 182);
    border-radius: 30px;
    color: #fff;
}



/* side bar  */
.side-navbar {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0%;
    z-index: 99;
    left: 0px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.side-logo img {
    height: 50px;
    width: 57px;
}

.side-sign-in-thumbnail {
    background-color: #0053e2;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.Cart-link a {
    text-decoration: none !important;
}

.cart-icons {
    position: relative;
}

.cart-items-quantity {
    position: absolute;
    top: -3px;
    left: -10px;
    line-height: 0.7;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    padding: 10px;
    font-size: 15px;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-info:hover {
    background-color: rgb(32, 54, 182);
    border-radius: 30px;
}



/* speaker.jsx  */

.speak-content {
    background-color: rgb(32, 54, 182);
    width: 40%;
    left: 30%;
    top: 95%;
    height: 50vh;
    z-index: 99;
}
.speaked{
    font-size: 20px;
    color: #fff;
}
.stop-speech{
    cursor: pointer;
}
.speaker-container{
    top: 60%;
}
.voice-speaker {
    width: 70px;
    height: 70px;
    background-color: #e70000;
    border-radius: 50%;
    z-index:1;
    /* top: 59%;
    left: 43%; */
}

.speaker-waves {
    width: 100px;
    height: 100px;
    /* top: 55%;
    left: 41%; */
    border-radius: 50%;
    background-color: #ffffff;
    animation: example 4s infinite;
    position: absolute;
    /* make sure it's positioned */
    transform-origin: center center;
    /* scale from center */
}

@keyframes example {
    0% {
        transform: scale(1);
        background-color: #e4e3e3;
        opacity: 1;
    }
    10% {
        transform: scale(0.9);
        background-color: #a2a2a2c7;
        opacity: 0.6;
    }
    20% {
        transform: scale(1.1);
        background-color: #dddcdc8a;
        opacity: 0.8;
    }
    35% {
        transform: scale(0.95);
        background-color: #f8f6f6b8;
        opacity: 0.4;
    }
    50% {
        transform: scale(1.05);
        background-color: #d6d5d5c7;
        opacity: 0.7;
    }
    65% {
        transform: scale(0.85);
        background-color: #e3e1e19e;
        opacity: 0.5;
    }
    80% {
        transform: scale(1.1);
        background-color: #c5c5c5;
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        background-color: #dadada;
        opacity: 1;
    }
}








@media (max-width:576px) {

    .side-sign-in-thumbnail p,
    .purchase-head,
    .account-heading,
    .help-head,
    .user-address {
        font-size: 14px;
    }
}